body {
    font-family: 'Noto Serif', serif;
    margin: 0%;
}

.headingSection {
    text-align: center;
}

body h1 {
    font-size: 50px;
}

.headingSection h1 {
    padding: 100px 10px 0px 10px;
    color: white;
}

.headingSection p {
    padding: 0px 300px 50px 300px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.button {
    text-decoration: none;
    background-color: rgb(255, 111, 71);
    border-radius: 5px;
    padding: 15px 40px;
    color: white;
    font-weight: 700;
    font-size: 120%;

}

#headingBackground {
    background-image: url(/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1750px;
    height: 500px;

}

.donatetoday {
    text-align: center;
    padding-top: 60px;
}

.donatetoday p {
    padding: 0px 300px 50px 300px;
    font-size: 20px;
    font-weight: 500;
}

.donatetoday h1 {
    font-size: 50px;
}

.display {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    margin: 0px 250px 0px 250px;
}

.takaAmount {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    padding: 30px 40px;
    color: rgb(128, 128, 128);
    font-weight: 700;
    font-size: 150%;

}

#twohundredtaka {
    background-color: rgba(255, 182, 193, 0.414);
    color: rgb(228, 101, 122);
    border: 3px solid rgb(228, 101, 122);
}

#input {
    padding: 15px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 2px solid rgb(191, 177, 177);
    width: 40%;
    text-align: center;
    font-size: 110%;
}

.family {

    /* border-radius: 5px; */
    /* padding: 40px 40px; */

}

#familyOne {
    padding: 40px 40px;
    background-color: rgb(222, 244, 251);
    border-radius: 7px;
    border-left: 20px solid white;
    border-right: 20px solid white;
    width: 25%;

}

#familyTwo {
    padding: 40px 40px;
    border-radius: 7px;
    background-color: rgb(255, 220, 250);
    border-left: 20px solid white;
    border-right: 20px solid white;
    width: 25%;
}

#familyThree {
    padding: 40px 40px;
    border-radius: 7px;
    background-color: rgb(254, 214, 214);
    border-left: 20px solid white;
    border-right: 20px solid white;
    width: 25%;
}

.half-width {
    width: 50%;
    /* margin-left: 2%; */
    padding-left: 2%;
    padding-bottom: 10%;
}

.half-width img {
    width: 100%;
    height: 110%;
    border-radius: 5px;
}

.half-width p {
    padding-bottom: 30px;
}

#update {
    text-align: center;
}

#update p {
    padding: 0px 450px 30px 450px;
    text-align: center;
    font-size: 110%;
    color: rgb(147, 142, 142);
}

#emailinput {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    margin: 0px 400px 0px 400px;
    background-color: rgb(255, 231, 234);
}

#emailinput input {
    height: 54px;
    background-color: rgb(216, 211, 211);
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 30px;
    padding-right: 90px;
}

#emailinput a {
    height: 40px;
    text-decoration: none;
    background-color: rgb(255, 111, 71);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 40px;
    padding: 15px 40px;
    color: white;
    font-weight: 700;
    font-size: 120%;

}

#footer {
    background-color: black;
    text-align: center;
    padding: 15px;
    margin-top: 60px;
}

#footer h1 {
    color: tomato;
    font-style: italic;
}

#footer p {
    color: white;
}